
# ignore files with no extention:
*
!*/
!*.*

# normal ignores:
.*
*.exe
*.dll
nimcache
*.idx

# Do to license issues ignore some fonts:
tests/fonts/helvetica.ttf

tests/googlefonts/diffs
tests/googlefonts/out
